<a href="https://colab.research.google.com/github/seungeunhan/dacon/blob/main/Lv1_%EB%B3%B5%EC%8A%B5_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [â†©ï¸ ë¦¬ìŠ¤íŠ¸ë¡œ ëŒì•„ê°€ê¸°](https://dacon.io/competitions/open/235698/overview/description)

# ì…€ì„ ì‹¤í–‰í•  ë•Œ íŒì—…ì´ ëœ¨ë©´ `ë¬´ì‹œí•˜ê³  ê³„ì†í•˜ê¸°` ë¥¼ ëˆŒëŸ¬ì£¼ì„¸ìš”

## ë°ì´í„° ë‹¤ìš´ë¡œë“œ
--- 
ì•„ë˜ ì…€ì„ ì‹¤í–‰ì‹œì¼œ ë°ì´í„°ë¥¼ colabì— ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.  
ì…€ ì‹¤í–‰ì€ Ctrl + Enter ë¥¼ ì´ìš©í•´ ì‹¤í–‰ ì‹œí‚¬ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [ ]:
# ë°ì´í„° ë‹¤ìš´ë¡œë“œ ë§í¬ë¡œ ë°ì´í„°ë¥¼ ì½”ë©ì— ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

## ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
---

In [ ]:
# Pandas ì™€ Scikit-learn ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ë¶ˆëŸ¬ì˜¤ì„¸ìš”
import pandas as pd

## ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
---

In [ ]:
# train.csv ì™€ test.csv ë¥¼ DataFrame í´ë˜ìŠ¤ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”
train=pd.read_csv('data/train.csv')
test=pd.read_csv('data/test.csv')

## ë°ì´í„° ì •ë³´ ê´€ì°°í•˜ê¸°
---

In [ ]:
# head() ë¥¼ ì‚¬ìš©í•´ ë°ì´í„° ì •ë³´ë¥¼ ê´€ì°°í•˜ì„¸ìš”
train=pd.read_csv('data/train.csv')
train.head(10)

## ë°ì´í„° í–‰ì—´ ê°¯ìˆ˜ ê´€ì°°
---

In [ ]:
# shape ë¥¼ ì‚¬ìš©í•´ ë°ì´í„° í¬ê¸°ë¥¼ ê´€ì°°í•˜ì„¸ìš”
train.shape

(1459, 11)

## ê²°ì¸¡ì¹˜ í™•ì¸
---

In [ ]:
# info() ë¥¼ ì‚¬ìš©í•´ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ì„¸ìš”.
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

## ê²°ì¸¡ì¹˜ ì „ì²˜ë¦¬
---

In [ ]:
# dropna() ë¥¼ ì‚¬ìš©í•´ train ë°ì´í„°ëŠ” ê²°ì¸¡ì¹˜ë¥¼ ì œê±°í•˜ê³ 
# fillna() ë¥¼ ì‚¬ìš©í•´ test ë°ì´í„° ê²°ì¸¡ì¹˜ëŠ” 0 ìœ¼ë¡œ ëŒ€ì²´í•˜ì„¸ìš”.
# ê·¸ë¦¬ê³  ê²°ì¸¡ì¹˜ì˜ ê°¯ìˆ˜ë¥¼ ì¶œë ¥í•˜ì—¬ í™•ì•ˆí•˜ì„¸ìš”.
train=train.dropna()
test=test.fillna(0)

## ëª¨ë¸ í›ˆë ¨
---

In [ ]:
# train ë°ì´í„°ì˜ count í”¼ì³ë¥¼ ëº€ ê²ƒì„ X_train ìœ¼ë¡œ í• ë‹¹í•˜ì„¸ìš”.
# train ë°ì´í„°ì˜ count í”¼ì³ë§Œì„ ê°€ì§„ ê²ƒì„ Y_train ìœ¼ë¡œ í• ë‹¹í•˜ì„¸ìš”.
# íšŒê·€ì˜ì‚¬ê²°ì •ë‚˜ë¬´ë¥¼ ì„ ì–¸í•˜ê³  fit() ìœ¼ë¡œ í›ˆë ¨ì‹œí‚¤ì„¸ìš”.
X_train=train.drop(['count'], axis=1)
Y_train=train['count']
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

## í…ŒìŠ¤íŠ¸ íŒŒì¼ ì˜ˆì¸¡
---

In [ ]:
# predict() ì„ ì´ìš©í•´ test data ë¥¼ í›ˆë ¨í•œ ëª¨ë¸ë¡œ ì˜ˆì¸¡í•œ data array ë¥¼ ìƒì„±í•˜ì„¸ìš”.
pred=model.predict(test)

## submission íŒŒì¼ ìƒì„±
---

In [ ]:
# submission.csv ë¥¼ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.
# submission df ì˜ count í”¼ì³ì— ì˜ˆì¸¡í•œ ê²°ê³¼ë¥¼ ë§ì…íˆì„¸ìš”.
# submission df ë¥¼ to_csv() ë¥¼ ì´ìš©í•´ csv ì„ ìƒì„±í•˜ì„¸ìš”. *index=False) 
submission = pd.read_csv('data/submission.csv')
submission['count'] = pred
submission.to_csv('sub.csv',index=False)

## ì •ë‹µ (`ìˆ¨ê²¨ì§„ ì…€ nê°œ` ë¥¼ ëˆ„ë¥´ì„¸ìš”.)
---
ì§ˆë¬¸ì‚¬í•­ì„ ì–¼ë§ˆë“ ì§€ [ê²Œì‹œê¸€](https://dacon.io/competitions/open/235698/talkboard/403540?page=1&dtype=recent)ì— ë‚¨ê²¨ì£¼ì„¸ìš” ğŸ˜‰ <br>
ê¶ê¸ˆí•œ ê²ƒ, ì´í•´ê°€ ì•ˆ ë˜ëŠ” ê²ƒ, ì›ë¦¬, í™•ì¥ê°œë…, ì°¸ê³  ë“±ë“± ëª¨ë“  ë²”ìœ„ì—ì„œ ì–¼ë§ˆë“ ì§€ ì§ˆë¬¸ì„ ë‹¬ì•„ì£¼ì„¸ìš” ğŸ™‹

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

In [ ]:
train.head()

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]

In [ ]:
test.head()

   id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0   0     7  ...           44.0            27.0
1   1    17  ...           49.0            36.0
2   2    13  ...           36.0            28.0
3   4     6  ...           52.0            38.0
4   5    22  ...           18.0            15.0

[5 rows x 10 columns]

In [ ]:
train.shape

In [ ]:
test.shape

In [ ]:
train.info()

In [ ]:
test.info()

In [ ]:
train = train.dropna()
test = test.fillna(0)

print(train.isnull().sum())

In [ ]:
X_train = train.drop(['count'], axis=1)
Y_train = train['count']
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

In [ ]:
pred = model.predict(test)

In [ ]:
submission = pd.read_csv('data/submission.csv')
submission['count'] = pred
submission.to_csv('sub.csv',index=False)

# [â†©ï¸ ë¦¬ìŠ¤íŠ¸ë¡œ ëŒì•„ê°€ê¸°](https://dacon.io/competitions/open/235698/overview/description)